@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family : "Roboto",sans-serif;
}
a{
    color: white;
    text-decoration: none;
    margin: 1rem;
}

.header{
    height: 90px;
    background-color: rgb(16,16,16);
    display:flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;

    >div{
        width: 100%;
        margin-left: 2rem;
    }
    >svg{            //element of the react icon
        color: white;
        cursor: pointer;
        font-size: 2rem;
        &:hover{
            color: rgb(143, 142, 142);
        }
    }
}
.header > img{
    height:70%;
}